@import url(./layout/flex.css);
@import url(./components/button.css);
@import url(./components/combobox.css);
@import url(./components/dialog.css);
@import url(./components/icon.css);
@import url(./components/input.css);
@import url(./components/table.css);
@import url(./components/header.css);
@import url(./components/sibar.css);
@import url(./components/dropdown.css);
@import url(./components/dropdownpage.css);
@import url(./components/toolBar.css);
@import url(./components/cash.css);
@import url(./components/vendor.css);
@import url(./components/receiptdetail.css);
body{
    font-family: rotosans;
    font-size: 13px;
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: rotosans;
    src: url(../assets/fonts/notosans-regular.2cb88a13.woff2);
}
@font-face {
    font-family: bold;
    src: url(../assets/fonts/notosans-bold.3ede5aff.woff2);
}
@font-face {
    font-family: italic ;
    src: url(../assets/fonts/notosans-italic.1c1aaac9.woff2);
}
.pb-10 {
    padding-bottom: 10px;
}
.justify-spacebetween {
    justify-content: space-between;
    align-items: center;
}
.w-800 {
    width: 800px!important;
    min-width: 800px;
}
.rotation-180 {
    transform: rotate(180deg);
    transition: transform .3s;
}
